n8n-workflow-code-a-cuisine.json
{
  "name": "random-recipe-creation",
  "nodes": [
    {
      "parameters": {
        "url": "=https://firestore.googleapis.com/v1/projects/random-recipe-creation/databases/(default)/documents/quotaIpDaily/{{$json.ipDocId}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleFirebaseCloudFirestoreOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3472,
        512
      ],
      "id": "0a52772d-fb67-4673-a826-ca50137ce376",
      "name": "Get IP Quota",
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "rvFrJf8PxSZd1NYl",
          "name": "Google Firebase Cloud Firestore account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://firestore.googleapis.com/v1/projects/random-recipe-creation/databases/(default)/documents/quotaGlobalDaily/{{$json.globalDocId}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleFirebaseCloudFirestoreOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3264,
        512
      ],
      "id": "fb735351-8815-46b6-a140-566efdb1b1cd",
      "name": "Get Global Quota",
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "rvFrJf8PxSZd1NYl",
          "name": "Google Firebase Cloud Firestore account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const ipDoc = $node[\"Get IP Quota\"].json;\nconst globalDoc = $node[\"Get Global Quota\"].json;\n\nconst ipCount = Number(ipDoc?.fields?.count?.integerValue || 0);\nconst globalCount = Number(globalDoc?.fields?.count?.integerValue || 0);\n\nconst remainingIp = Math.max(0, 15 - ipCount);\nconst remainingGlobal = Math.max(0, 12 - globalCount);\n\nconst base = $node[\"get trigger from firestore\"].json || {};\n\nreturn [{\n  json: {\n    ...base,\n    ipCount,\n    globalCount,\n    quota: {\n      remainingIp,\n      remainingGlobal,\n      dateKey: $node[\"Extracts client IP\"].json.dateKey,\n      timeZone: \"Europe/Berlin\"\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3056,
        512
      ],
      "id": "2d635cc9-4884-4e2f-aad3-a3deb7f8b3fb",
      "name": "Compute Quota"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6b702e9c-33dd-4460-9173-e4a6eb3561bd",
              "leftValue": "={{ $json.quota.remainingIp }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "8a2c2efd-cd49-4720-bbb9-bdf140ea3871",
              "leftValue": "={{ $json.quota.remainingGlobal }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2848,
        512
      ],
      "id": "63544956-bdb3-442b-a380-5564583acbf0",
      "name": "If Quota"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://firestore.googleapis.com/v1/projects/random-recipe-creation/databases/(default)/documents/quotaIpDaily/{{$node[\"Extracts client IP\"].json.ipDocId}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleFirebaseCloudFirestoreOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  fields: {\n    count: { integerValue: String($node[\"Compute Quota\"].json.ipCount + 1) },\n    dateKey: { stringValue: $node[\"Compute Quota\"].json.quota.dateKey },\n    updatedAt: { timestampValue: $now.toISO() }\n  }\n}) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2608,
        416
      ],
      "id": "72d505a7-1ee1-44de-8ef7-a1deb7522382",
      "name": "Update IP Quota",
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "rvFrJf8PxSZd1NYl",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://firestore.googleapis.com/v1/projects/random-recipe-creation/databases/(default)/documents/quotaGlobalDaily/{{$node[\"Extracts client IP\"].json.dateKey}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleFirebaseCloudFirestoreOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  fields: {\n    count: { integerValue: String($node[\"Compute Quota\"].json.globalCount + 1) },\n    dateKey: { stringValue: $node[\"Compute Quota\"].json.quota.dateKey },\n    updatedAt: { timestampValue: $now.toISO() }\n  }\n}) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2384,
        416
      ],
      "id": "36335fdf-3afd-4a45-8ce1-b66ff9eeb7bc",
      "name": "Update Global Quota",
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "rvFrJf8PxSZd1NYl",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json || {};\nconst data = input.output || input;\n\nif (!data || !Array.isArray(data.summaries) || !data.details) {\n  return [{ json: { error: 'Missing AI output', raw: input } }];\n}\n\nconst cuisine = ($node[\"get trigger from firestore\"].json.body.payload.preferences.cuisine || \"\").toString();\nconst diet = ($node[\"get trigger from firestore\"].json.body.payload.preferences.dietPreferences || [])[0] || \"No preferences\";\nconst cookTime = $node[\"get trigger from firestore\"].json.body.payload.preferences.cookTime;\n\nconst cookTimeTagMap = { under20: \"Quick\", \"25to40\": \"Medium\", over45: \"Complex\" };\nconst cookTimeTag = cookTimeTagMap[cookTime] || \"Medium\";\n\nconst createdAt = new Date().toISOString();\n\nconst libraryRecipes = data.summaries.map((summary) => {\n  const detail = data.details[summary.id] || {};\n  const hearts = Number(detail.hearts || 0);\n\n  const recipe = {\n    title: summary.title,\n    cookingTimeMinutes: summary.cookingTimeMinutes,\n    cookingTimeLabel: summary.cookingTimeLabel,\n    tags: summary.tags || [],\n    cuisine,\n    diet,\n    cookTimeTag,\n    hearts,\n    thumbnail: \"\",\n    createdAt,\n    description: detail.description || \"\",\n    helperLabels: detail.helperLabels || [],\n    nutritionalInformation: detail.nutritionalInformation || {\n      energyKcal: 0,\n      proteinGrams: 0,\n      fatGrams: 0,\n      carbsGrams: 0\n    },\n    primaryIngredients: detail.primaryIngredients || [],\n    extraIngredients: detail.extraIngredients || [],\n    directions: detail.directions || []\n  };\n\n  const firestoreBody = {\n    fields: {\n      title: { stringValue: recipe.title },\n      cookingTimeMinutes: { integerValue: String(recipe.cookingTimeMinutes) },\n      cookingTimeLabel: { stringValue: recipe.cookingTimeLabel },\n      tags: { arrayValue: { values: recipe.tags.map(tag => ({ stringValue: tag })) } },\n      cuisine: { stringValue: recipe.cuisine },\n      diet: { stringValue: recipe.diet },\n      cookTimeTag: { stringValue: recipe.cookTimeTag },\n      thumbnail: { stringValue: recipe.thumbnail },\n      createdAt: { timestampValue: recipe.createdAt },\n      description: { stringValue: recipe.description },\n      helperLabels: { arrayValue: { values: recipe.helperLabels.map(label => ({ stringValue: label })) } },\n      nutritionalInformation: {\n        mapValue: { fields: {\n          energyKcal: { integerValue: recipe.nutritionalInformation.energyKcal },\n          proteinGrams: { integerValue: recipe.nutritionalInformation.proteinGrams },\n          fatGrams: { integerValue: recipe.nutritionalInformation.fatGrams },\n          carbsGrams: { integerValue: recipe.nutritionalInformation.carbsGrams }\n        }}\n      },\n      primaryIngredients: {\n        arrayValue: { values: recipe.primaryIngredients.map(ing => ({\n          mapValue: { fields: {\n            name: { stringValue: ing.name },\n            amount: { doubleValue: ing.amount },\n            unit: { stringValue: ing.unit },\n            source: { stringValue: ing.source }\n          }}\n        })) }\n      },\n      extraIngredients: {\n        arrayValue: { values: recipe.extraIngredients.map(ing => ({\n          mapValue: { fields: {\n            name: { stringValue: ing.name },\n            amount: { doubleValue: ing.amount },\n            unit: { stringValue: ing.unit },\n            source: { stringValue: ing.source }\n          }}\n        })) }\n      },\n      directions: {\n        arrayValue: { values: recipe.directions.map(step => ({\n          mapValue: { fields: {\n            order: { integerValue: step.order },\n            title: { stringValue: step.title },\n            instruction: { stringValue: step.instruction },\n            assignedChefIndex: { integerValue: step.assignedChefIndex }\n          }}\n        })) }\n      },\n      ...(hearts > 0 ? { hearts: { integerValue: String(hearts) } } : {})\n    }\n  };\n\n  return { json: { firestoreBody } };\n});\n\nreturn libraryRecipes;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1552,
        928
      ],
      "id": "20f06447-9103-4811-9652-de90e99527c7",
      "name": "Library items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://firestore.googleapis.com/v1/projects/random-recipe-creation/databases/(default)/documents/recipes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleFirebaseCloudFirestoreOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.firestoreBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1264,
        928
      ],
      "id": "ec9afdab-327c-407b-bf1d-aeb3549978a8",
      "name": "Create Recipe Docs",
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "rvFrJf8PxSZd1NYl",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cbb6c857-b032-420c-b3e7-e0a5a98bdf29",
              "leftValue": "={{ $json.output.summaries }}",
              "rightValue": 3,
              "operator": {
                "type": "array",
                "operation": "lengthEquals",
                "rightType": "number"
              }
            },
            {
              "id": "1e23e569-6ca8-472b-b24f-79dfb4390433",
              "leftValue": "={{ $json.output.details }}",
              "rightValue": "3",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1552,
        448
      ],
      "id": "5f90aef3-16ca-4801-8013-f2259bd429a2",
      "name": "if enough recipes"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://firestore.googleapis.com/v1/projects/random-recipe-creation/databases/(default)/documents/recipeRequests/{{ $('get trigger from firestore').item.json.body.requestId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleFirebaseCloudFirestoreOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=fields.status.stringValue",
              "value": "success"
            },
            {
              "name": "=fields.updatedAt.timestampValue",
              "value": "={{$now.toISO()}}"
            },
            {
              "name": "fields.resultsRaw.stringValue",
              "value": "={{ JSON.stringify($json.output) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1088,
        368
      ],
      "id": "1b50d187-60fa-4673-bf78-169dc854ced2",
      "name": "patch recipe on firestore",
      "credentials": {
        "googleFirebaseRealtimeDatabaseOAuth2Api": {
          "id": "IdE55bAOVKBzZ5lG",
          "name": "Google Firebase Realtime Database account"
        },
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "rvFrJf8PxSZd1NYl",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d7d1b6f-741a-4635-ae0f-a8fb5f2d22d8",
              "leftValue": "={{ $json.body.requestId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "e7a94f95-991e-461a-83f1-2aaee55254a5",
              "leftValue": "={{ $json.body.payload.ingredients }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "2ec75758-a883-4476-954e-b7850e0537a6",
              "leftValue": "={{ $json.body.payload.preferences }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4032,
        688
      ],
      "id": "21e27b67-053d-4dc1-b229-d9d1a970d5db",
      "name": "if all items exist"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3c9eac64-47c3-4c75-b5d3-76c69dfa93fd",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4320,
        688
      ],
      "id": "b147aa18-9d65-48cd-9f33-db87780cb32a",
      "name": "get trigger from firestore",
      "webhookId": "3c9eac64-47c3-4c75-b5d3-76c69dfa93fd"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Return ONLY valid JSON that matches the connected output parser schema. No markdown, no extra text.\n\nInput:\nrequestId: {{ $('get trigger from firestore').item.json.body.requestId }}\nPORTIONS_SELECTED: {{ $('get trigger from firestore').item.json.body.payload.preferences.portions }}\nCOOK_TIME_SELECTED: \"{{ $('get trigger from firestore').item.json.body.payload.preferences.cookTime }}\"\nCUISINE_SELECTED: \"{{ $('get trigger from firestore').item.json.body.payload.preferences.cuisine }}\"\nDIET_SELECTED: \"{{ ($('get trigger from firestore').item.json.body.payload.preferences.dietPreferences || [])[0] }}\"\nHELPERS_SELECTED: {{ $('get trigger from firestore').item.json.body.payload.preferences.helpers }}\nUSER_INGREDIENTS_JSON: {{ JSON.stringify($('get trigger from firestore').item.json.body.payload.ingredients) }}\n\nRules (summary):\n- Exactly 3 recipes; unique titles.\n- Output language English.\n- primaryIngredients: only from USER_INGREDIENTS_JSON; use >= 70% of items by count; amount <= available; source=\"user\".\n- extraIngredients: optional; max 3; source=\"extra\".\n- Cook time labels must match COOK_TIME_SELECTED.\n- Include cuisine + diet in tags; respect diet.\n- helperLabels length == HELPERS_SELECTED; assignedChefIndex between 0 and HELPERS_SELECTED-1.\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -2256,
        704
      ],
      "id": "baa8aaca-0f85-491b-88b9-31126d8325b2",
      "name": "AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {
          "temperature": 0,
          "responseMimeType": "application/json"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2272,
        960
      ],
      "id": "19faee76-bd8e-49d6-bd75-3eba604a4208",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "az7boQx0ThQCOydg",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"summaries\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": {\n            \"type\": \"string\"\n          },\n          \"order\": {\n            \"type\": \"number\"\n          },\n          \"title\": {\n            \"type\": \"string\"\n          },\n          \"cookingTimeMinutes\": {\n            \"type\": \"number\"\n          },\n          \"cookingTimeLabel\": {\n            \"type\": \"string\"\n          },\n          \"tags\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          }\n        },\n        \"additionalProperties\": true\n      }\n    },\n    \"details\": {\n      \"type\": \"object\",\n      \"additionalProperties\": true\n    }\n  },\n  \"additionalProperties\": true\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -2096,
        960
      ],
      "id": "e0b74d3a-b9f1-4933-8edf-124a2a431119",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"message\": \"Something went wrong. please try again later\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1232,
        576
      ],
      "id": "6528b48f-9284-4bda-9767-a21daec48ec6",
      "name": "Error - Not Enough Recipes"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"message\": \"Something went wrong. please try again\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -3776,
        848
      ],
      "id": "314b762a-0ab5-4c85-ae4d-bdb10890c89d",
      "name": "Error - Missing Data"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"message\": \"Quota erreicht. Bitte morgen erneut versuchen.\", \"quota\": $json.quota } }}\n",
        "options": {
          "responseCode": 429
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2640,
        784
      ],
      "id": "0d1d6a5c-f1c1-4299-89ed-ba2f16cc5ef9",
      "name": "Error - limit reached"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://firestore.googleapis.com/v1/projects/random-recipe-creation/databases/(default)/documents/recipeRequests/{{ $('get trigger from firestore').item.json.body.requestId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleFirebaseCloudFirestoreOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"status\": { \"stringValue\": \"processing\" },\n    \"updatedAt\": { \"timestampValue\": \"{{ $now.toISO() }}\" }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2096,
        416
      ],
      "id": "6322aa30-5937-4048-8289-482f36572b0e",
      "name": "Patch API status",
      "credentials": {
        "googleFirebaseRealtimeDatabaseOAuth2Api": {
          "id": "IdE55bAOVKBzZ5lG",
          "name": "Google Firebase Realtime Database account"
        },
        "googleFirebaseCloudFirestoreOAuth2Api": {
          "id": "rvFrJf8PxSZd1NYl",
          "name": "Google Firebase Cloud Firestore account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const headers = $json.headers || {};\nconst forwarded = headers['x-forwarded-for'] || headers['X-Forwarded-For'] || '';\nconst ip = (Array.isArray(forwarded) ? forwarded[0] : forwarded)\n  .split(',')[0].trim() || headers['x-real-ip'] || headers['X-Real-IP'] || '';\n\nfunction simpleHash(input) {\n  let hash = 0;\n  for (let i = 0; i < input.length; i += 1) {\n    hash = (hash * 31 + input.charCodeAt(i)) | 0;\n  }\n  return Math.abs(hash).toString(36);\n}\n\nconst ipHash = simpleHash(ip || 'unknown');\n\nconst dateKey = new Intl.DateTimeFormat('en-CA', {\n  timeZone: 'Europe/Berlin',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n}).format(new Date());\n\nreturn [{\n  json: {\n    ...$json,\n    ip,\n    ipHash,\n    dateKey,\n    ipDocId: `${dateKey}_${ipHash}`,\n    globalDocId: dateKey,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3680,
        512
      ],
      "id": "88017835-f450-40e8-94d1-e2b0735b4858",
      "name": "Extracts client IP"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"requestId\": \"{{$json.body.requestId}}\",\n  \"status\": \"processing\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -704,
        368
      ],
      "id": "c98047ef-74d4-4295-8218-cd9b9f3d2634",
      "name": "Return Processing Status"
    }
  ],
  "pinData": {
    "get trigger from firestore": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv1139834.hstgr.cloud",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
            "content-length": "405",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "de-DE,de;q=0.9,en-US;q=0.8,en;q=0.7",
            "content-type": "application/json",
            "origin": "http://localhost:4200",
            "priority": "u=1, i",
            "referer": "http://localhost:4200/",
            "sec-ch-ua": "\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "223.205.79.55",
            "x-forwarded-host": "n8n.srv1139834.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "83f092dc9bdb",
            "x-real-ip": "223.205.79.55"
          },
          "params": {},
          "query": {},
          "body": {
            "requestId": "L7ZGezFy2AgU4Kob6Tkz",
            "payload": {
              "ingredients": [
                {
                  "name": "Tomaten",
                  "amount": 100,
                  "unit": "gram"
                },
                {
                  "name": "Minze",
                  "amount": 100,
                  "unit": "gram"
                },
                {
                  "name": "Basil",
                  "amount": 100,
                  "unit": "gram"
                },
                {
                  "name": "Reis",
                  "amount": 100,
                  "unit": "gram"
                },
                {
                  "name": "Chicken",
                  "amount": 100,
                  "unit": "gram"
                }
              ],
              "preferences": {
                "portions": 2,
                "helpers": 1,
                "cookTime": "under20",
                "cuisine": "Fusion",
                "dietPreferences": [
                  "No preferences"
                ]
              }
            }
          },
          "webhookUrl": "https://n8n.srv1139834.hstgr.cloud/webhook/3c9eac64-47c3-4c75-b5d3-76c69dfa93fd",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Get IP Quota": {
      "main": [
        [
          {
            "node": "Get Global Quota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Global Quota": {
      "main": [
        [
          {
            "node": "Compute Quota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Quota": {
      "main": [
        [
          {
            "node": "If Quota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Quota": {
      "main": [
        [
          {
            "node": "Update IP Quota",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error - limit reached",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update IP Quota": {
      "main": [
        [
          {
            "node": "Update Global Quota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Global Quota": {
      "main": [
        [
          {
            "node": "Patch API status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Library items": {
      "main": [
        [
          {
            "node": "Create Recipe Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if enough recipes": {
      "main": [
        [
          {
            "node": "patch recipe on firestore",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error - Not Enough Recipes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "patch recipe on firestore": {
      "main": [
        [
          {
            "node": "Return Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if all items exist": {
      "main": [
        [
          {
            "node": "Extracts client IP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error - Missing Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get trigger from firestore": {
      "main": [
        [
          {
            "node": "if all items exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Library items",
            "type": "main",
            "index": 0
          },
          {
            "node": "if enough recipes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extracts client IP": {
      "main": [
        [
          {
            "node": "Get IP Quota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a3a6f549-8223-4402-8a7b-48b9baa74b4c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0b8a1778822a25b07f30c7dfa64e49cabf511bb34ce2b5fe530ab77113c1a274"
  },
  "id": "DNXpNCpiFO8NVzpK",
  "tags": []
}